* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.game-object {
  position: fixed;
  transition: all 0.25s;
}

.hero {
  background: red;
  height: 100px;
  width: 100px;
}

.engine-fps {
  position: fixed;
  top: 10px;
  right: 10px;
  color: red;
  weight: 700;
  font-family: monospace;
}
